@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zoro-dark text-white font-sans overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a1a0f;
}
::-webkit-scrollbar-thumb {
  background: #17b978;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c0ff00;
}
